<!-- 
  File Name: nav.ejs
  Student Name: Priscilla Bakradze
  Student ID: 301229445
  Date: September 26, 2022
-->   

<!-- Nav Section -->
<header>
    <img src="/Assets/images/Pris-logo.png" width="75"> 
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navlist">
        <li class="item"><a href="/home">Home</a></li>
        <li class="item"><a href="/about">About</a></li>
        <li class="item"><a href="/services">Services</a></li>
        <li class="item"><a href="/projects">Projects</a></li>
        <li class="item"><a href="/contact-list">Business Contacts List</a></li>
        <li class="item"><a href="/contact">Contact</a></li>

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="item" style="font-weight: bold; color: #AE6E4E"><a>Welcome, <%= displayName %></a></li>
          <li class="item"><a href="/logout">Logout</a></li>
        <% } else { %> 
          <li class="item"><a href="/login">Login</a></li>
        <% } %>

        

        <button id="themeSelector"></button><br>
    </ul>   
  </header> 
